<!--modal-->
<div class="modal fade" id="myModal-<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- MODAL HEADER -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="myModalLabel"><%= item.name %></h3>
        <h6><%= item.user.name %></h6>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= item.picture %>); margin-top: 10px;"></div>

        <div class="row overview" style="margin-top: 10px;">
          <div class="col-md-3 col-md-offset-1">

            <p style="font-size: 14px !important;">Availability: <strong><%= item.quantity %></strong></p>
          </div>
          <div class="col-md-1">
            <p><i class="fas fa-circle line-breaker"></i></p>

          </div>
          <div class="col-md-2">
            <p style="font-size: 14px !important;"><strong><%= item.category %></strong></p>
          </div>
          <div class="col-md-1">
            <p><i class="fas fa-circle line-breaker"></i></p>
          </div>
          <div class="col-md-3">
            <p style="font-size: 14px !important;">
              <strong>
                <% item.types.each do |type| %>
                <%= type.name %> |
                <% end %>
              </strong>
            </p>
          </div>
        </div>
        <br>
        <p style="margin-top: -5px; font-size: 14px !important;">Address: <strong><%= item.address %></strong></p>
        <p style="font-size: 14px !important;">Expiration: <strong><%= item.expiration.strftime("%a, %b %e %Y - %I:%M%p") %></strong></p>
        <p style="margin-top: -5px; font-size: 14px !important;">Description: <strong><%= item.description %></strong></p>
        <div class="editlinks">
          <!-- Edit and Delete if you own this item -->
          <% if policy(item).edit? %>
          <%= link_to "Edit |", edit_item_path(item) %>
          <% end %>
          <% if policy(item).destroy? %>
          <%= link_to "Delete", item_path(item),
          method: :delete,
          data: { confirm: "Are you sure?" } %>
          <% end %>
        </div>
      </div>
      <!-- END MODAL HEADER -->

      <!-- MODAL BODY -->
      <div class="modal-body" style="padding-bottom: 20px;">
        <div class="row">
          <div class="col-sm-offset-1 col-sm-4 col-md-offset-1 col-md-4">

            <!-- FORM WITH UP AND DOWN BUTTONS -->
            <div id="<%= item.id %>" class="controls">
              <span data-item-quantity="<%= item.quantity %>" class="quantity"></span>
              <div class="form-modal">
                <label for="add-to-cart-#{item.id}">
                  <% if user_signed_in? %>
                    <span class="update-quantity" data-in-cart="<%= item.reservations.find_by(user_id: current_user.id).present? %>">


                    </span>


                  <% end %>
                </label>

                <div class="input-group">
                  <div class="input-group-btn">
                    <button class="btn btn-default circles down">
                      <span class="glyphicon glyphicon-minus"></span>
                    </button>
                  </div>

                  <% if user_signed_in? %>
                  <!-- QUANTITY RESERVED -->
                    <%= form_with model: @reservation, url: create_reservation_path, id: "add-to-cart-#{item.id}", local: true do |f| %>
                    <% value = "" %>

                    <%if item.reservations.where(user_id: current_user.id).any?%>
                    <%  value = item.reservations.find_by(user_id: current_user.id).quantity%>
                    <%else%>
                    <%  value = 1%>
                    <%end%>
                    <%= f.text_field :quantity, value: value, class: "form-control input-number circle"  %>
                    <%= f.hidden_field :item_id, value: item.id %>

                    <% end %>
                  <% end %>
                  <!-- END QUANTITY RESERVED -->

                  <div class="input-group-btn">
                    <button class="btn btn-default circles up">
                      <span class="glyphicon glyphicon-plus"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- END FORM WITH UP AND DOWN BUTTONS -->
          </div>

          <div class="col-sm-offset-1 col-sm-4 col-md-offset-1 col-md-4 cart-btn">
            <button type="submit" class="btn btn-dark btn-lg" form="add-to-cart-<%=item.id%>">
              <span class="glyphicon glyphicon-plus"></span>
              <span class="btn btn-dark btn-lg">Add to Cart</span>
            </button>
          </div>
          <div class="col-sm-offset-1 col-sm-4 col-md-offset-1 col-md-4 cart-btn1">
            <button type="button" class="btn btn-dark ">One-Click Shop</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
