<!-- <div class="add"> -->
<div class="card-btn">
  <% if user_signed_in? %>
    <%= simple_form_for @reservation, url: create_reservation_path do |f| %>
      <%= f.error_notification %>
      <%= f.hidden_field :item_id, value: item.id %>
      <%= f.hidden_field :quantity, value: 1 %>
      <%= f.button :button, class: 'card-icon add' do %>
        <%= icon('fas', 'plus') %>
      <% end %>
    <% end %>
  <% end %>
</div>
<!-- Icons to add or remove from cart -->
<!-- </div> -->

<div  data-toggle="modal" data-target="#myModal-<%= item.id %>">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= item.picture %>); margin-top: 10px;">
    <div class="card-description">
      <h2><%= item.name %></h2>
    </div>
  </div>

  <div class="item-description">
    <h6><%= item.user.name.capitalize %></h6>
    <h6>$ <%= item.price %> </h6>
    <p><%= item.pickup_time.strftime("pickup before %I:%M%p") %></p>
    <% if item.distance_location < 1 %>
    <p><%= item.distance_location * 1000 %>m</p>
    <% else %>
    <p><%= item.distance_location %>km</p>
    <% end %>
  </div>

</div>
