<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to items_path, class: "navbar-wagon-brand" do %>
    <%= "waste'd" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->

      <%= link_to "Why us", home_path, class: "navbar-wagon-item navbar-wagon-link underline-black" %>
      <%= link_to "Discover", items_path, class: "navbar-wagon-item navbar-wagon-link underline-black" %>

      <%= link_to "Shopping Cart", cart_path, class: "navbar-wagon-item navbar-wagon-link underline-black" %>
      <% if policy(Item).create? %>
        <%= link_to "Upload", new_item_path , class: "navbar-wagon-item navbar-wagon-link underline-black" %>
      <% end %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% if current_user.avatar.present? %>
          <%= cl_image_tag(current_user.avatar, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" ) %>
          <% else %>
          <%= image_tag("avatar.png", class:  "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown")%>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to current_user do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->

      <%= link_to "Why us", home_path, class: "navbar-wagon-item navbar-wagon-link underline-black" %>
      <%= link_to "Discover", items_path, class: "navbar-wagon-item navbar-wagon-link underline-black" %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link underline-black" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->

  <% if user_signed_in? %>

  <!-- Dropdown links when logged in -->

    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to home_path do %>
                <%= icon('fas', 'question') %>
                <%= t(".why", default: "Why us") %>
              <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <%= icon('fas', 'globe') %>
              <%= t(".discover", default: "Discover") %>
            <% end %>
          </li>
          <li>
            <%= link_to cart_path do %>
              <%= icon('fas', 'shopping-cart') %>
              <%= t(".shopping-cart", default: "Cart") %>
            <% end %>
          </li>
          <% if policy(Item).create? %>
            <li>
              <%= link_to new_item_path do %>
                <%= icon('fas', 'upload') %>
                <%= t(".upload", default: "Upload") %>
              <% end %>
            </li>
          <% end %>

          <li>
            <%= link_to new_item_path do %>
              <%= icon('fas', 'cog') %>
              <%= t(".settings", default: "Settings") %>
            <% end %>
          </li>
          <li>
            <%= link_to current_user do %>
              <%= icon('fas', 'user') %>
              <%= t(".profile", default: "Profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>

        </ul>
      </div>
    </div>

  <!-- Dropdown links when logged out -->

  <% else %>

  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "Why us", home_path %></li>
        <li><%= link_to "Discover", "#"  %></li>
        <li><%= link_to "Other one", "#" %></li>
        <li><%= link_to "Discover", items_path %></li>
        <li>
          <%= link_to new_user_session_path, method: :get do %>
            <i class="fa fa-sign-in-alt"></i>  <%= t(".sign_in", default: "Sign in") %>
          <% end %>
        </li>

      </ul>
    </div>
  </div>

  <% end %>

</div>

