<div class="container">
  <h1>All Orders</h1>
  <div class="row">
    <h3 class='text-center'><%= @paid.size %> Completed Orders</h3>
    <% @paid.each do |order| %>
      <div class='text-center'>
        <div class="col-xs-3 col-sm-2 col-md-1">
          <%= link_to "##{order.id}", order %>
          <%= humanized_money_with_symbol(order.amount) %>
          <%= order.created_at.strftime('%b %e') %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <h3 class='text-center'><%= @pending.size %> Pending Orders</h3>
    <% @pending.each do |order| %>
      <div>
        <div class="col-xs-3 col-sm-2 col-md-1">
          <%= link_to "##{order.id}", order %>
          <%= humanized_money_with_symbol(order.amount) %>
          <%= order.created_at.strftime('%b %e') %>
        </div>
      </div>
    <% end %>
  </div>
</div>
