<div class="banner"></div>
<div class="container-fluid cfhome ">
  <div class="container home-one">
    <div class="why-us">
      <div class="row">
        <div class="col-md-6">
          <div class="cat-parent">
           <div class="cat-container" style="text-align: center;">
            <h1>
              <span id="banner-typed-text";"></span>
            </h1>
            <!-- <button class="button-banner">Eat consciously!</button> -->
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <p>Over 1/3 of all food produced globally goes to waste. The annual value of food wasted globally is $1 trillion, and it weighs 1.3 billion tonnes. Restaurants and cafes throw away food that they can't sell anymore everyday. Food is wasted and money is lost. Let's change that.</p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container home-two">



  <div class="row">
    <div class="col-sm-12 col-md-4 caps">
      <div class="whatever">
        <div class="image"><%= image_tag "revenue.svg" %></div>
        <h3>INCREASE REVENUE</h3>
      </div>

    </div>
    <div class="col-sm-12 col-md-4 caps">
      <div class="whatever">
        <div class="image"><%= image_tag "piggy-bank.svg" %></div>
        <h3>REDUCE COSTS</h3>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 caps">
      <div class="whatever">
        <div class="image"><%= image_tag "success.svg" %></div>
        <h3>IMPROVE BRAND IMAGE</h3>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 50px;">
  <div id="become-supplier"></div>


    <div class="col-md-6">
      <h2 class="caps caps1" style="text-align: left;">This is how you can connect.</h2>
    </div>
    <div class="col-md-6">
      <ol style="padding: 24px;">
        <li>Suscribe to our system.</li>
        <li>Upload a restaurant.</li>
        <li>Take a picture of the food that you don't want yo throw away and set time.</li>
        <li>Consumer will pick it up as takeaway.</li>
      </ol>
    </div>
  </div>

</div>
</div>

<div class="container-fluid cfhome">
  <div class="container carousel-pictures">
    <div class="row">
                    <div id="become-user"></div>

      <div class="col-xs-10 col-md-10 col-centered">
        <h1 style="text-transform: uppercase; font-weight: bold;">Get inspired</h1>
        <div id="carousel" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="2500">
          <div class="carousel-inner">
            <% @items.each_with_index do |item, index| %>
            <div class="item <%= 'active' if index == 0 %>">
              <div class="carousel-col">
                <div class="img-responsive" style="border: 2px solid white;">

                  <%= render 'shared/pictures', item: item %>
                </div>
              </div>
            </div>
            <% end %>
          </div>

          <!-- Controls -->
          <div class="left carousel-control">
            <a href="#carousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-menu-left" aria-hidden="true" style="margin-top: 30px !important; color: white !important;"></span>
              <span class="sr-only"></span>
            </a>
          </div>
          <div class="right carousel-control">
            <a href="#carousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-menu-right" aria-hidden="true" style="margin-top: 30px !important; color: white !important;"></span>
              <span class="sr-only"></span>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container home-two">




  <div class="row">
    <div class="col-sm-12 col-md-4 caps">
      <div class="whatever">
        <div class="image"><%= image_tag "savemoney.svg" %></div>
        <h3>SAVE MONEY</h3>
      </div>

    </div>
    <div class="col-sm-12 col-md-4 caps">
      <div class="whatever">
        <div class="image"><%= image_tag "recycle-sign.svg" %></div>
        <h3>REDUCE FOOD WASTE</h3>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 caps">
      <div class="whatever">
        <div class="image"><%= image_tag "silverware.svg" %></div>
        <h3>EAT CONSCIOUSLY</h3>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 50px;">
    <div class="col-md-6">
      <h2 class="caps caps1" style="text-align: left;">This is how waste'd works.</h2>
    </div>
    <div class="col-md-6">
      <ol style="padding: 24px;">
        <li>Download the app and browse unsold food from restaurants, cafes and grocery stores.</li>
        <li>Select & purchase food for ½ price - all within the app.</li>
        <li>Pick it up & enjoy!.</li>
      </ol>
    </div>
  </div>

</div>
