<div class="main-container">

  <!-- CAROUSELS CONTAINER -->
  <div class="carousels-container">
    <div class="card-holder">
      <%= render 'card_in_cart' %>
    </div>
  </div>
  <!-- END CAROUSELS CONTAINER -->

  <!-- SHOPPING CART -->
  <div class="shopping-cart-container">
    <div class="shopping-cart-box">
      <h3> MY BASKET</h3>

      <!-- RESERVATIONS -->
      <%= render 'itemized_reservations' %>
      <!-- END RESERVATIONS -->

      <!-- PRICES  -->
      <div class="total-prices-container">
        <h5>Subtotal: <%= humanized_money_with_symbol(@subtotal_price) %></h5>
        <h6>5% site fee: <%= humanized_money_with_symbol(@commission) %></h6>
        <h4>Total price: <%= humanized_money_with_symbol(@amount) %></h4>
      </div>
      <!-- END PRICES -->


      <!-- CHECKOUT FORM to send params -->
      <%= link_to "Checkout", purchased_items_path(amount: @amount, reservations: @reservations), method: :post, class: 'btn btn-danger btn-lg btn-checkout', id: 'cart-empty-button' %>
      <!-- END CHECKOUT FORM to send params -->


    </div>
    <!-- END SHOPPING CART -->
  </div>
  <!-- END .main-container -->
</div>
