<div class="main-container">

  <!-- CAROUSELS CONTAINER -->
  <div class="carousels-container">
    <div class="card-holder">
      <%= render 'card_in_cart' %>
    </div>
  </div>
  <!-- END CAROUSELS CONTAINER -->

  <!-- SHOPPING CART -->
  <div class="shopping-cart-container">
    <!-- CHECKOUT BUTTON -->



    <!-- FORM to send params -->
    <%= link_to "Buy now", purchased_items_path(amount_cents: @amount_cents, reservations: @reservations), method: :post, class: 'btn btn-danger btn-lg btn-checkout' %>
    <!-- END FORM to send params -->





    <!-- END CHECKOUT BUTTON -->
    <!-- RESERVATIONS -->
    <div class="reservations-container">
      <% @reservations.each do |reservation| %>
        <div class="reservation">
          <div class="quantity">
            <%= icon('fas', 'minus') %>
            <%= reservation.quantity %>
            <%= icon('fas', 'plus') %>
          </div>
          <div class="name">
            <%= reservation.item.name %>
          </div>
          <div class="price">
            <%= reservation.item.price %>
          </div>
        </div>
      <% end %>
    </div>
    <!-- END RESERVATIONS -->
    <hr>
    <!-- PRICES  -->
    <div class="total-prices-container">
      <h5>Items: <%= @total_items %></h5>
      <h5>Subtotal: $<%= @subtotal_price %></h5>
      <h6>5% site fee: $<%= @commission %></h6>
      <h4>Total price: $<%= @total_price %></h4>
    </div>
    <!-- END .prices-container -->
  </div>
  <!-- END SHOPPING CART -->

</div>
<!-- END .main-container -->
