<div class="container-fluid" style="background-color: rgba(248,248,248.06) !important;">
  <div class="container " style="margin-top: 30px; margin-bottom: 30px;">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3" style="background-color: white !important;box-shadow: 1px 1px 3px #eaeaea;">
  <h2>Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
    required: false,
    label: false,
    autofocus: true, placeholder: "Email",
    input_html: { autocomplete: "email" },
    class: "bgc-white" %>
    <%= f.input :password,
    required: false,
    label: false,
    placeholder: "Password",
    input_html: { autocomplete: "current-password" },
    class: "bgc-white" %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in", class:"form-button" %>
  </div>
  <% end %>
<div class="link-style">
  <%= render "devise/shared/links" %>
</div>
   </div>
   </div>
 </div>
</div>
