<%= simple_form_for item do |f| %>
<%= f.error_notification %>

<div class="container">
   <div class="col-md-8 col-md-offset-2">
  <h3>Add Food</h3>
  <div><%= f.input :name, input_html: { class: "input-bar"} %></div>
  <div><%= f.input :description, input_html: { class: "input-bar"} %></div>
  <div><%= f.input :address, input_html: { class: "input-bar"} %></div>
  <div><%= f.input :category, input_html: { class: "input-bar"}, collection: Item::CATEGORY %></div>
  <div><%= f.input :food_type, input_html: { class: "input-bar"}, collection: Item::TYPES %></div>

  <div><%= f.input :expiration, as: :string, class: "datepicker" %></div>


  <div><%= f.input :pickup_time, as: :string, class: "datepicker" %></div>

  <%= f.input :picture %>
  <%= f.input :picture_cache, as: :hidden %>
  <div class="row">
    <div class="col-md-6">
      <div><%= f.input :price, input_html: { class: "input-bar"} %></div>
    </div>
    <div class="col-md-6">
      <div><%= f.input :quantity, input_html: { class: "input-bar"} %></div>
    </div>
  </div>
  <div style="margin:20px;"><%= f.button :submit  %></div>
  <% end %>
</div>
</div>


