<% if params[:term].present? %>
<% item = Item.find(params[:term]) %>
<% end %>

<%= simple_form_for item do |f| %>
<%= f.error_notification %>

<div class="final-day">
  <%= f.input :name, placeholder: "Name", label: false, input_html: {value: item.name, class: "input-bar"} %>
</div>
<div class="final-day">
  <%= f.input :description, placeholder: "Description", label: false, input_html: {value: item.description, class: "input-bar"} %>
</div>
<div class="final-day">
  <%= f.input :address, placeholder: "Address", label: false, input_html: {value: item.address, class: "input-bar"} %>
</div>
<div class="final-day">
  <%= f.input :category, default: true, label: false, input_html: {value: item.category, class: "input-bar"}, collection: Item::CATEGORY, multiple: true %>
</div>
<div class="final-day" id="types">
  <%= f.input :types, label:false do %>
</div>
<%= f.select :types, Type::TYPES, {}, {value: item.types, class: "select2", multiple: true} %>
<% end %>
<div class="final-day">
  <%= f.input :price, default: true, label: false, input_html: {min: "0", value: item.price,  class: "input-bar"} %>
</div>
<div class="final-day">
  <%= f.input :quantity, label: false, input_html: {min: "0", value: item.quantity,  class: "input-bar"} %>
</div>
<div class="final-day">

  <%= f.input :pickup_time, label: false, as: :string, input_html: {value: item.pickup_time,  id: "start_date"} %>
</div>
<div class="final-day">
  <%= f.input :expiration, label: false, as: :string, input_html: {value: item.expiration,  id: "end_date"} %>

</div>
<div class="final-day">
  <%= f.input :picture %>
</div>
<div class="final-day">
  <%= f.input :picture_cache, as: :hidden %>
</div>
<div class="final-day">
  <%= f.button :submit, class:"form-button" %>
</div>

<% end %>
