<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= form_tag items_path, method: :get do %>
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Address" %>
      <% end %>
  <p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Link with href
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body filter-body">
      <div class="filter">
        <%= simple_form_for :term, url: items_path, method: :get do |f| %>
          <%= f.input :catg, label: 'Filter by:', as: :check_boxes, collection: Item::CATEGORY%>
          <%= f.input :att, label: 'Filter by:', as: :check_boxes, collection: Item::TYPES%>
          <%= f.button :submit %>
        <% end %>

      </div>
  </div>
</div>

    </div>
  </div>
<%= render 'shared/card', item: @item %>
  </div>
</div>





